<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit</title>
</head>

<body>
  <h1>Edit <%=fish.name%></h1>
</body>
<form action="/fish/<%=fish.id%>?_method=PUT" method="POST">
  <label for="name">*</label>
  <input type="text" name="name" id="name" placeholder="name">

  <label for="description"></label>
  <textarea name="description" id="description" placeholder="description"></textarea>

  <label for="img"></label>
  <input type="text" name="img" id="img" placeholder="image">

  <label for="price">*$</label>
  <input type="number" name="price" id="price">.00

  <label for="qty">*</label>
  <input type="number" name="qty" id="qty" placeholder="qty">

  <input type="submit" value="Edit">
</form>

</html>