<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
  <title>Zach's Fish House</title>
</head>

<body>

  <div>

    <h1>Welcome to ZFH!</h1>

    <h2>Zach's Fish House</h2>
    <div id="btn">
      <a href="/fish"><button>Come On In</button></a>
    </div>
  </div>
</body>

</html>

<style>
  h1,
  h2 {
    text-align: center;
  }

  h1 {
    margin: 20px;
  }

  #btn {
    text-align: center;
    margin-top: 20%;
  }

  button {
    margin: 0 auto;
  }

  /* @media (min-width: 600px) {
    button {
      position: absolute;
      top: 40%;
      left: -3%;
    }
  } */
</style>