<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
  <title>Zach's Fish House</title>
</head>

<body>
  <div class="container">
    <h1>Welcome to ZFH!</h1>
    <h2>Zach's Fish House</h2>

    <a href="/fish"><button class="btn btn-secondary btn-lg">Come On In</button></a>
  </div>
</body>

</html>