<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Welcome to ZFH!</h1>
  <h2>Zach's Fish House</h2>

  <a href="/fish"><button>Come On In</button></a>
</body>

</html>