<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Our Fish</title>
</head>

<body>
  <h1>Our Fish</h1>
  <a href="/"><button>Back</button></a>
  <a href="/fish/new"><button>Sell a Fish</button></a>
  <%for (let i = 0; i < fish.length; i++) {%>
  <a href="/fish/<%=fish[i].id%>">
    <h2><%=fish[i].name%></h2>
  </a>
  <a href="/fish/<%=fish[i].id%>"><img src="<%=fish[i].img%>" alt=""></a>
  <%}%>
<nav>
  
  </nav>
</body>

</html>