/* *{
outline: 1px solid red;
} */
h1 {
  font-family: 'Lalezar', cursive;
}

a, a:hover {
  text-decoration: none;
  color: black;
}

p {
  font-style: oblique;
}

img {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 1px solid gray;
}

nav {
  margin-top: 10px;
}

li {
  list-style: none !important;
}

#back {
  margin: 10px;
}

form {
  padding: 5px;
}