<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs%>
  <title>Document</title>
</head>

<body>
  <div class="ui container">

    <h1>Sign In</h1>


    <h2 id="error">Incorrect username or password. Please try again.</h2>
    <form class="ui form" action="/sessions" method="POST">

      <div class="field">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
      </div>

      <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
      </div>

      <a href="/users/register"><button class="ui grey button">Sign Up</button></a>
      <input class="positive ui button" type="submit" value="Log In">
    </form>
  </div>
</body>

</html>

</html>

<style>
  #error {
    color: red;
  }
</style>