<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs%>
  <title>Register</title>
</head>

<body>
  <div class="ui container">
    <h1>New User</h1>

    <form class="ui form" action="/users" method="POST">

      <div class="field">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username">
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
      </div>
      <div class="field">
        <div class="checkbox">
          <label for="isAdmin">admin</label>
          <input type="checkbox" name="isAdmin">
        </div>
      </div>


      <input class="positive ui button" type="submit" value="Register">
    </form>
  </div>
</body>

</html>