<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>Cart</title>
</head>

<body>
  <h1>Your Cart</h1>

  <table class="ui celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Name"><%= fish.name %></td>
        <td data-label=" Price"><%= fish.price %></td>
        <td data-label="Quantity"><%= fish.qty %></td>
      </tr>
    </tbody>
  </table>
</body>

</html>