<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>Our Fish</title>
</head>

<body>
  <h1>Our Fish</h1>
  <a href="/"><button>Back</button></a>
  <a href="/fish/new"><button>Sell a Fish</button></a>
  <%for (let i = 0; i < fish.length; i++) {%>
  <a href="/fish/<%=fish[i].id%>">
    <h2><%=fish[i].name%></h2>
  </a>
  <%if (fish[i].qty === 0) {%>
  <h3>OUT OF STOCK</h3>
  <%}%>
  <a href="/fish/<%=fish[i].id%>"><img src="<%=fish[i].img%>" alt=""></a>
  <%}%>
<nav>
  
  </nav>
</body>

</html>