<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>New Fish</title>
</head>

<body>
  <a href="/fish">
    <button class="ui grey button" id="back">See All Fish</button>
  </a>

  <div class="ui container">

    <h1>Sell a Fish</h1>

    <div class="ui form">

      <form action="/fish" method="POST">


        <label for="name">* Name</label>
        <input type="text" name="name" id="name" placeholder="Name">



        <label for="binomial">Scientific Name</label>
        <input type="text" name="binomial" id="binomial" placeholder="Scientific Name">




        <label for="description">Description</label>
        <textarea name="description" id="description" placeholder="Description"></textarea>



        <label for="img">Image</label>
        <input type="text" name="img" id="img" placeholder="Image URL">



        <label for="price">* Price $</label>


        <input type="number" name="price" id="price" placeholder="0">


        <label for="qty">* Qty</label>
        <input type="number" name="qty" id="qty" placeholder="Qty">

        <input class="ui yellow button" id="sell" type="submit" value="sell">
      </form>

    </div>
  </div>

</body>

</html>

<style>
  #sell {
    margin-top: 7px;
  }
</style>