<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <title>New Fish</title>
</head>

<body>
  <a href="/fish">
    <button>See All Fish</button>
  </a>


  <h1>Sell a Fish</h1>
  <form action="/fish" method="POST">



    <label for="name">* Name</label>
    <input type="text" name="name" id="name" placeholder="Name">



    <label for="binomial">Scientific Name</label>
    <input type="text" name="binomial" id="binomial" placeholder="Scientific Name">




    <label for="description">Description</label>
    <textarea name="description" id="description" placeholder="Description"></textarea>



    <label for="img">Image</label>
    <input type="text" name="img" id="img" placeholder="Image URL">



    <label for="price">* Price $</label>


    <input type="number" name="price" id="price" placeholder="0">


    <label for="qty">* Qty</label>
    <input type="number" name="qty" id="qty" placeholder="Qty">

    <input type="submit" value="sell">
  </form>



</body>

</html>

<style>

</style>